.wardrobe-item {
    position: relative;
    width: 12.5em;
    height: 12.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.wardrobe-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: filter 0.3s ease;
}

.toys-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.toy {
    object-fit: contain;
    position: absolute;
    pointer-events: auto;
}

.boat {
    width: 3.2em;
    height: 3.2em;
    top: 6em;
    left: 5em;
}

.car {
    width: 3.5em;
    height: 3.5em;
    top: 0.9em;
    left: 1.6em;
}

.boy {
    width: 5em;
    height: 5em;
    bottom: 0;
    left: -1.3em;
    opacity: 0;
}

.hover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-text span{
    color: white;
    font-size: 1.125em;
    text-align: center;
}

.wardrobe-item:hover .hover-text {
    opacity: 1;
}

.hover-text .default-text {
    display: block;
    margin-bottom: 1.1em;
}

.hover-text .active-text {
    display: none;
    position: absolute;
    top: 1em;
    left: 0.2em;
    z-index: 4;
    transform: rotate(-30deg);
}

.wardrobe-item:active .hover-text .default-text {
    display: none;
}

.wardrobe-item:active .hover-text .active-text {
    display: block;
}

.wardrobe-item:hover .car {
    animation: moveCar 2s ease-in-out infinite;
}

@keyframes moveCar {
    0% { transform: translateX(0); }
    25% { transform: translateX(0.85em); }
    75% { transform: translateX(-0.85em); }
    100% { transform: translateX(0); }
}

.boat:hover {
    animation: rockBoat 1s ease-in-out infinite;
}

@keyframes rockBoat {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    75% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
}

.wardrobe-item:active .boy {
    opacity: 1;
    animation: jumpBoy 3s ease-in-out forwards;
}

@keyframes jumpBoy {
    0%   { left: -12%; bottom: 0; opacity: 1;}
    10%  { left: 5%;  bottom: 20%;opacity: 1;}
    25%  { left: 15%;  bottom: 0;opacity: 1;}
    40%  { left: 30%;  bottom: 20%;opacity: 1;}
    55%  { left: 45%;  bottom: 0; opacity: 1;}
    70%  { left: 60%;  bottom: 20%; opacity: 1; }
    85%  { left: 75%; bottom: 0; opacity: 1;}
    100% { left: 90%; bottom: 20%; opacity: 0;}
}

.wardrobe-item:active .wardrobe-img,
.wardrobe-item:active .boat,
.wardrobe-item:active .car {
    animation: applySepia 0.1s ease-in-out 3s forwards;
}

@keyframes applySepia {
    0% {
        filter: none;
    }
    100% {
        filter: sepia(100%);
    }
}